.video{
    position: relative;
    border: 5px solid red;
    background-color: white;
    height: 100%;
    height: 100%;

    scroll-snap-align: start;
}

/* hide scrollbar for chrome, safari, and opera */
.app__videos::-webkit-scrollbar{
display: none;
}

/* Hide scrollbar for IE and Firefox  */
.app__videos{
    -ms-overflow-style: none;
    scrollbar-width: none;
}